body{padding:0;margin:0;font-family: "open Sans", sans-serif; line-height: 1.1, font-size:14px;}
@font-face{
	font-family:'Brux';
	src:url(../fonts/BRUX.otf) format('otf'),
		url(../fonts/BRUX.ttf) format('truetype');
}
.layer1{z-index: 1;}
.layer2{z-index: 2;}
header {
    background-image: url("https://pbs.twimg.com/profile_banners/1082175331/1452707580/1500x500");
    background-size: cover;
    border-bottom: 4px solid #00b5ad;
    box-shadow: 0 0 5px #00b5ad inset;
    height: 530px;
    width: 100%;
    position: relative;
    filter:grayscale(50%);
    -webkit-filter:grayscale(50%);
}
header.fixed{position: fixed;}
.header{
    height: 530px;
    width: 100%;
}
.header-container{
    bottom: 30px;
    position: absolute;
    right: 11%;
    
}
h1 {
    font-family:'Brux', sans-serif;
    color: white;
    font-size: 44px;
    text-shadow: 0 0 2px #000;
}
footer {
    background-color: #f6f6f6;
    bottom: 0;
    height: 3em;
    left: 0;
    padding: 5px 10px;
    position: fixed;
    transition: .4s ease;
    right: 0;
}
footer a .icon{opacity: .5;}
footer a .icon:hover{opacity: 1; transform: scale(1.5);}
.spread{
  text-align: justify;
}
.spread::after {
  content: "";
  display: inline-block;
  width: 100%;
}
section#about {

    height: calc(100% - 544px);
    margin-top: -1rem !important;
    padding: 1em 0;
    background-color: #fff;
}



.layer2.fixed.scrolling {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}